.DS_Store
.metadata
*.pdf
APTs/bin/*
Recitations/bin/*
.classpath
*.project
*.aux
*.fdb_latexmk
*.log
*.out
Recitations/*/*.synctex.gz
Assignments/*/*.aux
Assignments/*/*.fdb_latexmk
Assignments/*/*.log
Assignments/*/*.out
Assignments/*/*.synctex.gz
Assignments/*/*/*/*.synctex.gz
*.syntex.gz
*.settings
*.bin
*.class

