.DS_Store
*.pdf
APTs/bin/*
Recitations/bin/*
.classpath
*.project
*.aux
*.fdb_latexmk
*.log
*.out
Assignments/*/*.aux
Assignments/*/*.fdb_latexmk
Assignments/*/*.log
Assignments/*/*.out
Assignments/*/*.synctex.gz
